
@font-face {
	font-family: 'Burbank Big Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Burbank Big Condensed Bold'),
	local('BurbankBigCondensed-Bold'),
	url('#{$fonts-directory}/BurbankBigCondensed-Bold.otf') format('opentype');
}
