
$color-primary: #ddd;

.dtr-stats-card {

	&:not(:first-of-type) {
		margin-top: 1rem;
	}

	.right {
		text-align: right;
	}
}

.dtr-stats-header,
.trn-stats {
	padding: 1rem;
}

.dtr-stats-header {
	background: darken($color-primary, 30);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.title {
		margin: 0 auto;
		padding: 0;
		color: inherit;
		font-size: 100%;
		font-weight: bold;
	}
}

.trn-stats {
	background: $color-primary;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 1rem;
	grid-column-gap: 3rem;
	align-items: end;
}

.stat,
.trn-stat {
	.name {
		font-size: 75%;
	}
	.value {
		//font-size: 125%;
		font-weight: bold;
	}
}

.trn-percentile-bar {
	width: 100%;
	height: 4px;
	border-radius: 2px;
	position: relative;
	background: #242424;

	.progress {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 2px;
		background: #009688;
	}
}
